<div class="container px-4 mx-auto">
  <div class="text-center mt-12">
    <h1 class="text-4xl md:text-5xl text-white font-semibold font-headline">
      Host all of your podcasts on Transistor.
    </h1>
    <p class="text-xl md:text-2xl leading-normal text-grey-darkest max-w-2xl mx-auto py-6 md:py-8">
      We store your MP3 files, generate your RSS feed, host your podcast's
      website, and distribute your show to the world.
    </p>
    <a href="https://dashboard.transistor.fm/signup"
      class="inline-block bg-red px-6 py-2 sm:px-8 sm:py-3 rounded-full text-white border-2 border-red mx-2 font-semibold text-base sm:text-xl no-underline hover:border-transparent hover:text-black hover:bg-white">Start
      a free 14 day trial</a>
    <a href="https://help.transistor.fm"
      class="inline-block border-2 border-red-light px-6 py-2 sm:px-8 sm:py-3 rounded-full text-red mx-2 font-semibold text-base sm:text-xl no-underline hover:border-transparent hover:text-black hover:bg-white">Learn
      More</a>
  </div>
  <div>
    <img src="assets/best-podcast-analytics-listener-stats-transparent.png" class="mx-auto" />
  </div>
</div>

<section class="border-t-4 border-white py-16" style="background-color: #fcc853">
  <div class="container mx-auto px-4 text-center">
    <h2 class="font-headline text-black text-xl md:text-2xl font-semibold mb-4 md:mb-8">
      Professional podcast hosting and analytics
    </h2>
    <div class="bg-red w-12 h-1 mx-auto mb-4 md:mb-8"></div>
    <div class="text-lg md:text-xl max-w-md mx-auto leading-normal text-grey-lightest">
      <p class="mb-4 text-black">
        We're focused on helping established brands build trust with their
        existing audience, and organically grow an existing audience, through
        podcasting!
      </p>
    </div>
  </div>
</section>