<nav class="flex items-center justify-between flex-wrap p-6 bg-tran-yellow">
  <div class="flex items-center flex-shrink-0 text-black mr-6">
    <svg
      class="fill-current h-8 w-8 mr-2"
      width="144"
      height="144"
      viewBox="0 0 144 144"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M72,0C32.2,0,0,32.2,0,72c0,39.8,32.2,72,72,72s72-32.2,72-72C144,32.2,111.8,0,72,0z M52,76.8h-23
                    c-2.6,0-4.8-2.1-4.8-4.8s2.1-4.8,4.8-4.8h23c2.6,0,4.8,2.1,4.8,4.8S54.6,76.8,52,76.8z M76.8,115.1c0,2.6-2.1,4.8-4.8,4.8
                    s-4.8-2.1-4.8-4.8V28.9c0-2.6,2.1-4.8,4.8-4.8s4.8,2.1,4.8,4.8V115.1z M115.1,76.8H92c-2.6,0-4.8-2.1-4.8-4.8s2.1-4.8,4.8-4.8h23
                    c2.6,0,4.8,2.1,4.8,4.8S117.7,76.8,115.1,76.8z"
      />
    </svg>
    <span class="font-semibold text-xl tracking-tight">Transistor</span>
  </div>
  <div class="block md:hidden">
    <button
      class="flex items-center px-3 py-2 border rounded text-black border-black-400 hover:text-white hover:border-white"
    >
      <svg
        class="fill-current h-3 w-3"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>
  <div class="w-full block flex-grow md:flex md:items-center md:w-auto">
    <div class="text-sm md:flex-grow">
      <a
        href="https://transistor.fm/how-to-start-a-podcast/"
        class="block mt-4 md:inline-block md:mt-0 text-black hover:text-white mr-4"
      >
        How to start a podcast
      </a>
      <a
        href="https://transistor.fm/shows/"
        class="block mt-4 md:inline-block md:mt-0 text-black hover:text-white mr-4"
      >
        Example podcasts
      </a>
      <a
        href="/blog/"
        class="block mt-4 md:inline-block md:mt-0 text-black hover:text-white"
      >
        Blog
      </a>
    </div>
    <div>
      <a
        href="https://dashboard.transistor.fm"
        class="block mt-4 md:inline-block md:mt-0 text-sm text-black hover:text-white mr-4"
      >
        Log In
      </a>
      <a
        href="https://dashboard.transistor.fm/signup"
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-black border-black hover:border-transparent hover:text-black-500 hover:bg-white mt-4 md:mt-0"
        >Sign Up</a
      >
    </div>
  </div>
</nav>
